# Exercices for chapter 1. 

## Numbers 

#### Create a variable named my age with your age. Create another variable called x and give an integer value to it. 

#### Sum both variables. 
#### Multiply both variables.
#### Print "My result is: RESULT of Multiplication". Also check the type.


## Strings

#### With the function input, enter the day of your birthday as a variable (numeric).

#### With the function input, enter the month of your birthday as a variable (string).

#### With the use of a method, capitalize the first letter of your month variable.

#### Create a new variable called birthdate that contains the day and the month of birth. (Hint: Might want to use str() function)
#### Print: My date of birth is the XX of XXXXXX.

####  Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string. Assume strings are at least 4 characters long.

#### Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.

In [ ]:
# solution to the last two:
str[0:2] + str[-2:]
sum = blabla
variable =

## Lists

#### Create a list with different names.

#### Count the amount of elements of the list.

#### Find the first and the last element according to the alphabetical order.

#### How much characters has the first alphabetical name.

#### Sort all the list by alphabetical order

#### The second name is no longer in the class, replace its name for another.

In [27]:
print(range(8))

range(0, 8)

#### Write two lists of strings: list1, list2. Create a third list whith the product of the first two elements of list1 and list2.

#### Create a new list which includes list1, list2 and list3.

#### Using the list list = [1,2,3,4,5,6,7,8,9]:  Create a new list with every 3 elements.

[1, 3, 5]

#### Create a new list with the last two elements.

## Dictionaries

#### Create a list with 3 words. Now create a dictonary which keys: name1, name2, name3 and as values the length of the word.

In [29]:
lista = ['house','beer','jamon']
dictionary = {'name1':len(lista[0])}
print(dictionary)

{'name1': 5}

#### We forgot to include the word "Econometrics" in the previous dictoinary! Can you include it as name4?

In [32]:
dictionary.update(name4='econometric')
print(dictionary)

dictionary['name5']  = 'apple'
print(dictionary)

{'name1': 5, 'nam4': 'econometric'}
{'name1': 5, 'nam4': 'econometric', 'name5': 'apple'}

#### Also, the first word now is "Apple". Can you change the length?

#### Print a list of all the values of your dictionary.

In [33]:
print(dictionary.values())

dict_values([5, 'econometric', 'apple'])

## Sets

#### Create an empty set, and then add some elements to it.

#### Now remove the first element of the set

## Touples

#### Create a touple with repeated items and then count the amount of times an intem appears in the touple.

## IF statements and loops

#### Write a program that checks the length of a string, and if the length is longer than 4 it prints 'long string'. Otherwise, it prints 'short string'.

#### Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).
Hitnts: You might want to use range(150,200) which creates a list of the values between 150 and 200. Also, you might want to use the operator % whichs gives the reminder of a division.

#### Write a Python program to construct the following pattern, using a nested for loop.

##### a
##### aa
##### aaa
##### aaaa
##### aaa
##### aa
##### a

Hint: To print next to each other use print(text,'end='')

In [35]:
text='a'
for x in range(1,8):
    if x<=4:
        print(text*x)
    else:
        print(text*(8-x))

a
aa
aaa
aaaa
aaa
aa
a

#### Write a Python program that prints all the numbers from 0 to 7 except 3 and 6.

#### Write a Python program that accepts a string and calculate the number of digits and letters.
Sample Data : Python 3.2
Expected Output :
Letters 6
Digits 2

In [37]:
sample="text1010"
d=0
l=0
for c in sample:
    if c.isalpha():
        l+=1
    elif c.isnumeric():
        d+=1
    else:
        pass
print("letters:",l,"; digits:",d)

letters: 4 ; digits: 4

#### Create a list and iterate over its elements to print the length or value.

#### Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

Write a program that takes a list of integers as input and performs the following tasks:

1. Count how many numbers are even and how many are odd.
2. Find the sum of all numbers.
3. Calculate the average of even numbers and the average of odd numbers.
4. Create a dictionary where:
    The keys are "even" and "odd".
    The values are lists of even and odd numbers from the input list, respectively.
5. Identify the largest even number and the smallest odd number (if they exist).

## List Comperhension

#### With original_list = [2,3.75,.04,59.354,6,7.7777,8,9] create a new list with only the integers.

#### Create a list with every character of the string "Apple". All the characters should be upercase.

#### Filter odd numbers from the following list:

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

Write a Python program that processes a nested list of integers and performs the following tasks using list comprehensions:

1. Flatten the nested list into a single list of integers.
2. Identify and create two separate lists:
    One for numbers divisible by 3.
    One for numbers that are prime.
3. Create a dictionary where:
    Keys are "divisible_by_3" and "prime".
    Values are the corresponding lists from step 2.
4. Using a list comprehension, create a list of tuples where:
    Each tuple contains a number from the flattened list and its square, but only for numbers greater than 10.

## Functions

#### Write a function to find the max of three numbers.

#### Write a function to sum all the elements in a list.

In [41]:
def sumall(*item):
    return sum(item)

print(sumall(1,2,3,4))

10

#### Write a function to reverse the elements of a string.

In [42]:
def revstring(text):
    return text[::-1]

print(revstring('house'))

esuoh

#### Write a function that can take an unlimited amount of arguments and prints all the arguments.

In [ ]:
def myFun(*argv):
    for arg in argv:
        print(arg)

Write a Python function calculate_stats(*args, **kwargs) that calculates various statistics based on the provided positional and keyword arguments.

The function should accept:

Positional arguments (*args): A variable number of integers or floats.
Keyword arguments (**kwargs): Optional operations to perform on the provided numbers.
The following keyword arguments should be supported:

operation: Specifies the operation to perform. Acceptable values are: 
"sum": Calculate the sum of all numbers.
"average": Calculate the average of the numbers.
"max": Find the maximum value.
"min": Find the minimum value.
round_to: Specifies the number of decimal places to round the result (default is 2).
If no numbers are provided via *args, return "No numbers provided.".

If an invalid operation is passed, return "Invalid operation.".

# Lambda

#### Write a Python program to square and cube every number in a given list of integers using Lambda.

HINT: You should use the function `map()`.

Write a program that defines and uses lambda functions to perform the following tasks:

Create a lambda function to check if a number is even.
Create a lambda function that takes two numbers and returns their product.
The program should also demonstrate the use of these functions with example inputs.

## Class

# **Exercise: Library Management System**

## **Objective**

Create a simple library management system using **classes**, **methods**, and **inheritance** in Python.

---

## **Instructions**

1. **Create a base class `Book`**:
   - Attributes:
     - `title` (string)
     - `author` (string)
     - `publication_year` (integer)
   - Methods:
     - `get_details()`: Returns a string with the book's details in the format:  
       `"Title: <title>, Author: <author>, Year: <publication_year>"`

2. **Create a derived class `EBook`** that inherits from `Book`:
   - Additional Attributes:
     - `file_size` (float, in MB)
     - `download_url` (string)
   - Methods:
     - Override the `get_details()` method to include file size and download URL in the format:  
       `"Title: <title>, Author: <author>, Year: <publication_year>, Size: <file_size>MB, URL: <download_url>"`

3. **Create a `Library` class**:
   - Attributes:
     - `books` (a list to store `Book` and `EBook` objects)
   - Methods:
     - `add_book(book)`: Adds a `Book` or `EBook` object to the `books` list.
     - `list_books()`: Prints the details of all books in the library by calling `get_details()` on each book.

---

## **Example Usage**

```python
# Create Book and EBook objects
book1 = Book("1984", "George Orwell", 1949)
ebook1 = EBook("Digital Fortress", "Dan Brown", 1998, 1.2, "http://example.com/df")

# Create a Library and add books to it
library = Library()
library.add_book(book1)
library.add_book(ebook1)

# List all books in the library
library.list_books()